WebApi/Connected Services/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50410/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Models" />
  <xs:element name="GetChequesPack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChequesPackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Models" minOccurs="0" name="GetChequesPackResult" nillable="true" type="q1:ArrayOfCheque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCheque">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService.Models" minOccurs="0" name="cheque" nillable="true" type="q2:Cheque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChequeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>